# Виртуальное окружение (там тысячи файлов, они не нужны в репо)
.venv/
venv/
env/

# Настройки PyCharm
.idea/

# Кэш питона
__pycache__/
*.pyc

# Видеофайлы (они тяжелые, GitHub их не любит)
*.mp4
*.avi

# Локальные данные
data/output/*.json
